body {
  background-color: lavender;
}

div {
  background-color: peachpuff;
}

.list-item {
  background-color: darkseagreen;
}

.main-heading {
  background-color: lightskyblue;
}

#first-paragraph {
  background-color: lightcoral;
}

.navs-one-and-two {
  background-color: mediumpurple;
}

.last-nav {
  background-color: gold;
}
